/* SIGN IN AND LOG IN FORM */

form.signup,
form.login {
  margin-top: 50px;
}


/* EMERGENCY CONTACT PAGE */

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
form.signup,
form.login {
  margin-top: 50px;
}
form {
  padding: 15px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: lightgrey;

}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  font-size: x-large;
}